/* Font-face yang sudah ada */
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'AeonikTRIAL';
  src: url('/fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* NHaasGroteskTXPro */
@font-face {
  font-family: 'NHaasGroteskTXPro';
  src: url('/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHaasGroteskTXPro';
  src: url('/fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NHaasGroteskTXPro';
  src: url('/fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tambahkan font Inter dari Google Fonts */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Helvetica Neue', sans-serif;
  /* Jika ingin mengganti default font ke Inter: */
  /* font-family: 'Inter', sans-serif; */
}
